<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        
        
    </head>
    <body>
        <section class="forms-section">
            <h2 class="section-title">Fathima Matha church Pushpagiri </h2>
        </section>
        <div class='box'>
            <div class='box-form'>
                <div class='box-login-tab'></div>
                <div class='box-login-title'>
                    <div class='i i-login'><i class="icon-Color-lock fas fa-lock"></i></div><h2>LOGIN</h2>
                </div>
                <div class='box-login'>
                    <form class='fieldset-body' id='login_form'>
                        <div class='b b-form i i-more'></div>
                        <p class='field'>
                            <label for='user'>User ID</label>
                            <input type='text' id='user' name='user' title='Username' />
                            <span id='valida' class='i i-warning'></span>
                        </p>
                        <p class='field'>
                            <label for='pass'>PASSWORD</label>
                            <input type='password' id='pass' name='pass' title='Password' />
                            <span id='valida' class='i i-close'></span>
                        </p>
            
                        <label class='checkbox'>
                        <input type='checkbox' value='TRUE' title='Keep me Signed in' /> Keep me Signed in
                        </label>
            
                        <input type='submit' id='do_login' value='GET STARTED' title='Get Started' />
                    </form>
                </div>
            </div>
            <div class='box-info'></div>
        </div>

    </body>
</html>
